<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BLOOMZON MOBILE</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bloomzon App">
    <meta name="keywords" content="Driver App"/>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="32x32">
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <script src="header.js?cache=5"></script>
</head>

<body class="bg-light">

<!-- App Header -->
<div class="appHeader no-border">
    <div class="left">
        <a href="javascript:;" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle"></div>
    <div class="right">
        <a href="index.html" class="headerButton">
            Login
        </a>
    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">

    <div class="section mt-2 text-center">
        <img width="70" src="assets/img/apple-touch-icon.png">
        <h2>Register now</h2>
        <h5>Fill the form to register</h5>
    </div>
    <div class="section mt-2 mb-5 p-3" id="app">
        <div v-if="alert" class="alert alert-dark m-3" role="alert">
            {{alert}}
            {{alert2}}
            <small class="badge badge-danger">{{alert3}}</small>
        </div>
        <div class="form-group basic">
            <div class="input-wrapper">
                <label class="label" for="email1">First Name</label>
                <input v-model="page.firstname" type="text" class="form-control" id="first_name"
                       placeholder="First Name">
            </div>
        </div>

        <div class="form-group basic">
            <div class="input-wrapper">
                <label class="label" for="email1">Last Name</label>
                <input v-model="page.lastname" type="text" class="form-control" id="lastname" placeholder="Last Name">
            </div>
        </div>

        <div class="form-group basic">
            <div class="input-wrapper">
                <label class="label" for="email1">E-mail</label>
                <input v-model="page.email" type="email" class="form-control" id="email1" placeholder="Your e-mail">
            </div>
        </div>

        <div class="form-group basic">
            <div class="input-wrapper">
                <label class="label" for="password1">Password</label>
                <input v-model="page.password" type="password" class="form-control" id="password1"
                       placeholder="Your password">
            </div>
        </div>

        <div class="form-group basic">
            <div class="input-wrapper">
                <label class="label" for="password2">Password Again</label>
                <input v-model="page.password_confirmation" type="password" class="form-control" id="password2"
                       placeholder="Type password again">
            </div>
        </div>
        <div class="custom-control custom-checkbox mt-2">
            <input checked type="checkbox" class="custom-control-input" id="customChecka1">
            <label class="custom-control-label" for="customChecka1">
                I agree <a href="#" data-toggle="modal" data-target="#termsModal">terms and conditions</a>
            </label>
        </div>
        <div class="form-button-group">
            <button onclick="submitBtn()" type="submit" class="btn btn-primary btn-block btn-lg">Register</button>
        </div>

    </div>

</div>
<!-- * App Capsule -->


<!-- Terms Modal -->
<div class="modal fade modalbox" id="termsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Terms and Conditions</h5>
                <a href="javascript:;" data-dismiss="modal">Close</a>
            </div>
            <div class="modal-body">
                <p>
                    At bloomzon, accessible from bloomzon.com, one of our main priorities is the privacy of our
                    visitors. This Privacy Policy document contains types of information that is collected and recorded
                    by bloomzon and how we use it.
                    If you have additional questions or require more information about our Privacy Policy, do not
                    hesitate to contact us.

                    This Privacy Policy applies only to our online activities and is valid for visitors to our website
                    with regards to the information that they shared and/or collect in bloomzon. This policy is not
                    applicable to any information collected offline or via channels other than this website. Our Privacy
                    Policy was created with the help of the Privacy Policy Generator.
                    Consent
                    By using our mobile app, you hereby consent to our Privacy Policy and agree to its terms.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- * Terms Modal -->


<!-- ///////////// Js Files ////////////////////  -->
<!-- Jquery -->
<script src="assets/js/lib/jquery-3.4.1.min.js"></script>
<!-- Bootstrap-->
<script src="assets/js/lib/popper.min.js"></script>
<script src="assets/js/lib/bootstrap.min.js"></script>
<!-- Ionicons -->
<script src="https://unpkg.com/ionicons%405.0.0/dist/ionicons.js"></script>
<!-- Owl Carousel -->
<script src="assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
<!-- Base Js File -->
<script src="assets/js/base.js"></script>
<script src="vue.js"></script>
<script src="app.js?cache=4"></script>

<!--Vue data-->
<script>
    function submitBtn() {
        var d = _vue.$data.page;
        if (Object.keys(d).length < 5) {
            _vue.$data.alert = (5 - (Object.keys(d).length)) + " field(s) yet to be filled !";
            return;
        }
        _vue.$data.alert = "Please wait...";
        _vue.$data.alert2 = '';
        _vue.$data.alert3 = '';
        apiCaller(API_REGISTER, _vue.$data.page, function (res) {
            console.log(res);
            if (res.hasOwnProperty('errors')) {
                if (res.errors.hasOwnProperty('email')) {
                    _vue.$data.alert = _ct(res.errors.email[0]);
                }
                if (res.errors.hasOwnProperty('password')) {
                    _vue.$data.alert2 = _ct(res.errors.password[0]);
                }
                _vue.$data.alert3 = _ct(res.message);
            }else{
                _alert('Registered successfully !, proceed to login');
                _vue.$data.page = {account_type: 'rider'};
            }
        }, "POST");
    }
</script>
</body>

</html>